<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fengdeyu.xuanyue_reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            />
        <activity
            android:name=".activity.BookIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".activity.ReadLocalBookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity android:name=".other.ConnectTestActivity" />
        <activity
            android:name=".activity.ReadOnlineBookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".activity.ChapterContentActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activity.ChapterDownloadActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activity.GuideViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity android:name=".other.DownloadTestActivity" />
        <activity android:name=".other.SearchFileTestActivity" />
        <activity
            android:name=".activity.ScanBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".other.TestPagingActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity
            android:name=".activity.TypefaceSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindCategoryResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindRanklistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PersonalCenterActivity"></activity>
    </application>

</manifest>